.modal-wrapper.active{
    visibility: visible;
    opacity: 1;
}

.modal-wrapper{
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;

    background: rgba(4, 9, 17, .8);

    visibility: hidden;
    opacity: 0;
}

.modal-wrapper .modal{
    width: min(90%, 59rem);
    padding: 6.4rem;
    margin: auto;

    border-radius: .8rem;

    background: var(--white);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.modal-wrapper .modal h2{
    font-size: 2.4rem;
    color: var(--black);

    margin-bottom: 1.2rem;
}

.modal-wrapper .modal p{
    margin-bottom: 2.4rem;
    color: var(--grey-dark);
}

.modal-wrapper .modal input{
    width: min(30.2rem, 90%);
    margin-bottom: 4rem;
    padding: 1.3rem 1.6rem;

    border: .2rem solid var(--blue);
}

.modal-wrapper .modal .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wrapper .modal .buttons > .button{
    margin-right: .8rem;
}

.modal-wrapper .modal .buttons > .button:hover{
    filter: brightness(.95);
}

.modal-wrapper .modal .buttons > .button,
.modal-wrapper .modal .buttons > button{
    padding: 1.3rem 3.2rem;
}

@media(max-width:560px){
    .modal-wrapper .modal{
        padding: 3rem;
    }

    .modal-wrapper .modal input{
        margin-bottom: 1rem;
    }


    .modal-wrapper .modal .buttons{
        flex-direction: column;
    }

    .modal-wrapper .modal .buttons > .button{
        margin-right: 0rem;
        margin-bottom: .8rem;
    }

    .modal-wrapper .modal .buttons > .button,
    .modal-wrapper .modal .buttons > button{
        padding: 1.3rem 2rem;
    }
}